.box {
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  &__main {
    display: flex;
    flex-flow: row;
    padding-bottom: $gutter;
  }

  &__content {
    display: flex;
    flex-flow: column;
  }

  &__header {
    font-size: 1em;
    font-weight: bold;
  }

  &__image {
    width: 10%;
  }
}
