.footer {
  display: flex;
  padding: $gutter;
  margin-top: $gutter*2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  align-content: center;

  &__left {
    padding-right: 20px;
    padding-left: 500px;
  }

  &__right {
    padding-right: 500px;
    padding-left: 20px;
  }

  &__line {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .watermark {
    color: #808080;
  }
}
