.footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: $gutter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin-top: $gutter*2;

  &__left {
    padding-left: 450px;
  }

  &__right {
    padding-right: 450px;
  }

  hr {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .watermark {
    color: grey;
  }
}
