.nav {
  background-color: black;
  color: white;

  nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;

  }

   li {
     &:nth-child(2){
       background-color: grey;
       border-radius: 10%;
     }
   }
}
