.nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  /*padding-top: $gutter / 2;
  padding-bottom: $gutter / 2 ;*/
  position: fixed;
  height: 35px;
  width: 100%;
  

  &__container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding-top: 5px;
  }

  nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  }

  a {
    text-decoration: none;
    color: white;
    height: 100%;
  }

  a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    height: 100%;
  }

   li {
     /*margin: 1em;*/
     height: 100%;
     padding-right: 10px; 
   }

   .button {
     padding: 0;

   }
}
