.tilvitnun {
  display: flex;
  padding-top: 40px;
  padding-left: 60px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 1.5em;
  }

  &__cite {
    font-size: 0.8em;
  }
}
